.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  padding: 0 1em;
}

.main,
.desc {
  margin: 0;
}

.desc {
  padding: 1em;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 0.4s;
}
